
/* CSS for SASS work */

html {
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  // background: hsl(0, 100%, 80%);
  text-align: center;
  display: table;
  // color: #888;
  height: 100%;
  width: 100%;

  body {
    vertical-align: middle;
    display: table-cell;

    p.browsehappy {
      position: absolute;
      width: 100%;
      top: 0;

      background: greenyellow;
      padding: 0.5em 0;
      color: black;
      margin: 0;
    }

    // h1 {
    //   color: #555; 
    //   font-size: 2em;
    //   font-weight: 400;

    //   @media only screen and (max-width: 280px) {
    //     color: red !important;
    //   }

    div.container {
      $cellSize: 100px;
      margin: auto;
      width: $cellSize * 8;

      div.play-area {
        height: $cellSize * 6;
        width: $cellSize * 8;

        div.cell {
          height: $cellSize;
          width: $cellSize;
          font-size: 3em;
          float: left;

          span.micons {
            line-height: $cellSize;
          }
        }
      }

    }

  }
}


.visible-print {
  display: none !important;

  @media print {
    display: block !important;
  }
}




// material design icons
$material-design-path: '../bower_components/material-design-icons-dist/';
$material-design-name: 'MaterialIcons-Regular';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-design-path}#{$material-design-name}.eot'); // For IE6-8
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('#{$material-design-path}#{$material-design-name}.woff2') format('woff2'),
    url('#{$material-design-path}#{$material-design-name}.woff') format('woff'),
    url('#{$material-design-path}#{$material-design-name}.ttf') format('truetype');
}

.micons {
  font-family: 'Material Icons';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  position: relative;
  // font-size: 24px;
  font-size: 1.4em;
  line-height: 1;
  height: 1em;
  width: 1em;
  top: 1px;
  
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;

  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;

  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;

  // Support for IE.
  font-feature-settings: 'liga';

  // Rules for sizing the icon.
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}