
/* CSS for SASS work */

$screenXs: 480px; // Small screen

$mainColor: #FAEFD7;
$textColor: #ADA084;
$hoverColor: #7287AD;

$cellSizeMin: 80px;
$cellSize: 100px;
$cellMargin: 4px;
$clicksSize: 40px;

$speed1: 1000ms;
$speed2: 250ms;

html {
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;

  body {
    background: $mainColor;
    vertical-align: middle;
    display: table-cell;

    transition: opacity $speed1;

    &.game-over {
      background-color: white !important;

      div.header, div.container {
        opacity: 0;
      }
    }

    p.browsehappy {
      position: absolute;
      width: 100%;
      top: 0;

      background: greenyellow;
      padding: 0.5em 0;
      color: black;
      margin: 0;
    }

    div.container {
      width: $cellSize * 8;
      margin: auto;
      opacity: 1;

      transition: opacity $speed1;

      @media (max-width: $cellSize * 8) {
        width: $cellSizeMin * 4;
      }

      div.play-area {
        height: $cellSize * 6;
        width: $cellSize * 8;

        @media (max-width: $cellSize * 8) {
          height: $cellSizeMin * 12;
          width: $cellSizeMin * 4;
        }

        div.cell {
          height: $cellSize - ($cellMargin * 2);
          width: $cellSize - ($cellMargin * 2);
          background: $textColor;
          margin: $cellMargin;
          border-radius: 8px;
          font-size: 3em;
          float: left;
          opacity: 1;

          transition: opacity $speed1;

          &:hover {
            background: $hoverColor;
            transition: none;
            cursor: pointer;
          }

          &.is-removed {
            cursor: default;
            opacity: 0;
          }

          &.is-selected {
            background: $hoverColor;
            cursor: default;

            span.micons {
              opacity: 1;
            }
          }


          @media (max-width: $cellSize * 8) {
            height: $cellSizeMin - ($cellMargin * 2);
            width: $cellSizeMin - ($cellMargin * 2);
            font-size: 2em;
          }

          span.micons {
            line-height: $cellSize - ($cellMargin * 2);
            color: $mainColor;
            opacity: 0;

            transition: opacity $speed2;

            @media print {
              color: #aaa;
            }

            @media (max-width: $cellSize * 8) {
              line-height: $cellSizeMin - ($cellMargin * 2);
              height: $cellSizeMin - ($cellMargin * 2);
              width: $cellSizeMin - ($cellMargin * 2);
            }
          }

        }
      }
    }

    div.header {
      height: ($cellSizeMin / 2) + 2;
      width: $cellSize * 8;
      margin: auto;

      transition: opacity $speed1;
      opacity: 1;


      @media (max-width: $cellSize * 8) {
        width: $cellSizeMin * 4;
        margin-top: 2px;
      }


      div {
        background: $textColor;
        border-radius: 8px;
        color: $mainColor;
        float: left;

        line-height: $cellSizeMin / 2;;
        height: $cellSizeMin / 2;
        width: $cellSizeMin / 2;;
        font-weight: bold;
        margin: 0 5px;

        a {
          text-decoration: none;
          border-radius: 8px;
          color: $mainColor;
          display: block;
          height: 100%;
          width: 100%;

          transition: background $speed2;

          &:hover {
            background: $hoverColor;
          }
        }
      }
    }
  }
}



// print layout
.visible-print {
  display: none !important;

  @media print {
    display: block !important;
  }
}



// material design icons
$material-design-path: '../bower_components/material-design-icons-dist/';
$material-design-name: 'MaterialIcons-Regular';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('#{$material-design-path}#{$material-design-name}.eot'); // For IE6-8
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('#{$material-design-path}#{$material-design-name}.woff2') format('woff2'),
    url('#{$material-design-path}#{$material-design-name}.woff') format('woff'),
    url('#{$material-design-path}#{$material-design-name}.ttf') format('truetype');
}

.micons {
  font-family: 'Material Icons';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  position: relative;
  // font-size: 24px;
  font-size: 1.4em;
  line-height: 1;
  height: 1em;
  width: 1em;
  top: 1px;
  
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  // Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;

  // Support for Safari and Chrome.
  text-rendering: optimizeLegibility;

  // Support for Firefox.
  -moz-osx-font-smoothing: grayscale;

  // Support for IE.
  font-feature-settings: 'liga';
}