/* CSS for SASS work */
html {
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
}

html body {
  background: #FAEFD7;
  vertical-align: middle;
  display: table-cell;
  transition: background 1000ms;
}

html body.game-over {
  background-color: white !important;
}

html body.game-over div.header, html body.game-over div.container {
  opacity: 0;
}

html body p.browsehappy {
  position: absolute;
  width: 100%;
  top: 0;
  background: greenyellow;
  padding: 0.5em 0;
  color: black;
  margin: 0;
}

html body div.container {
  width: 800px;
  margin: auto;
  opacity: 1;
  transition: opacity 1000ms;
  height: 600px;
  width: 800px;
}

@media (max-width: 800px) {
  html body div.container {
    width: 320px;
  }
}

@media (max-width: 800px) {
  html body div.container {
    height: 480px;
    width: 320px;
  }
}

html body div.container div.play-area div.cell {
  height: 92px;
  width: 92px;
  background: #ADA084;
  margin: 4px;
  border-radius: 8px;
  font-size: 3em;
  float: left;
  opacity: 1;
  transition: opacity 1000ms, background 1000ms;
}

html body div.container div.play-area div.cell:hover {
  background: #C7BEAB;
  transition: none;
  cursor: pointer;
}

html body div.container div.play-area div.cell.is-removed {
  cursor: default;
  opacity: 0;
}

html body div.container div.play-area div.cell.is-selected {
  background: #7387AD;
  cursor: default;
}

html body div.container div.play-area div.cell.is-selected span.micons {
  opacity: 1;
}

@media (max-width: 800px) {
  html body div.container div.play-area div.cell {
    height: 72px;
    width: 72px;
    font-size: 2em;
  }
}

html body div.container div.play-area div.cell span.micons {
  line-height: 92px;
  color: #FAEFD7;
  opacity: 0;
  transition: opacity 250ms;
}

@media print {
  html body div.container div.play-area div.cell span.micons {
    color: #aaa;
  }
}

@media (max-width: 800px) {
  html body div.container div.play-area div.cell span.micons {
    line-height: 72px;
    height: 72px;
    width: 72px;
  }
}

html body div.header {
  height: 42px;
  width: 800px;
  margin: auto;
  opacity: 1;
  transition: opacity 1000ms;
}

@media (max-width: 800px) {
  html body div.header {
    width: 320px;
    margin-top: 2px;
  }
}

html body div.header div {
  background: #ADA084;
  border-radius: 8px;
  color: #FAEFD7;
  float: left;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-weight: bold;
  margin: 0 5px;
  transition: background 250ms;
}

html body div.header div:hover {
  background: #C7BEAB;
  cursor: default;
}

html body div.header div a {
  text-decoration: none;
  border-radius: 8px;
  color: #FAEFD7;
  display: block;
  height: 100%;
  width: 100%;
}

html body div.header div span {
  line-height: 40px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
}

.hidden-print {
  display: block !important;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.woff2") format("woff2"), url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.woff") format("woff"), url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.ttf") format("truetype");
}

.micons {
  font-family: 'Material Icons';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  position: relative;
  font-size: 1.4em;
  line-height: 1;
  height: 1em;
  width: 1em;
  top: 1px;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
