/* CSS for SASS work */
html {
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
}

html body {
  background-color: #fbf0d9;
  vertical-align: middle;
  display: table-cell;
}

html body p.browsehappy {
  position: absolute;
  width: 100%;
  top: 0;
  background: greenyellow;
  padding: 0.5em 0;
  color: black;
  margin: 0;
}

html body div.container {
  width: 800px;
  margin: auto;
}

@media (max-width: 800px) {
  html body div.container {
    width: 320px;
  }
}

html body div.container div.play-area {
  height: 600px;
  width: 800px;
}

@media (max-width: 800px) {
  html body div.container div.play-area {
    height: 960px;
    width: 320px;
  }
}

html body div.container div.play-area div.cell {
  height: 92px;
  width: 92px;
  background: green;
  margin: 4px;
  border-radius: 8px;
  font-size: 3em;
  float: left;
  transition: background 1000ms;
}

html body div.container div.play-area div.cell:hover {
  background: orange;
  transition: none;
  cursor: pointer;
}

html body div.container div.play-area div.cell.can-pick {
  background: grey !important;
  cursor: default !important;
}

@media (max-width: 800px) {
  html body div.container div.play-area div.cell {
    height: 72px;
    width: 72px;
    font-size: 2em;
  }
}

html body div.container div.play-area div.cell span.micons {
  line-height: 92px;
  color: #fbf0d9;
}

@media (max-width: 800px) {
  html body div.container div.play-area div.cell span.micons {
    line-height: 72px;
    height: 72px;
    width: 72px;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.woff2") format("woff2"), url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.woff") format("woff"), url("../bower_components/material-design-icons-dist/MaterialIcons-Regular.ttf") format("truetype");
}

.micons {
  font-family: 'Material Icons';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  position: relative;
  font-size: 1.4em;
  line-height: 1;
  height: 1em;
  width: 1em;
  top: 1px;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
