<on-resize></on-resize>

<audio-player pause="isPaused"></audio-player>

<div class="header hidden-print" ng-focus="aze">
	<div>{{ clicks }}</div>
	<div><a href="https://www.github.com/yve5/pairs" target="_blank">?</a></div>
	<div ng-click="pause()">
		<span class="micons" ng-hide="isPaused">volume_up</span>
		<span class="micons" ng-show="isPaused">volume_off</span>
	</div>
</div>

<div class="container hidden-print">
	<div class="play-area">
		<div class="cell" ng-repeat="item in tiles" ng-click="chooseTile($index)" ng-class="{ 'is-selected' : item.isSelected, 'is-removed' : item.isRemoved }">
			<span class="micons">{{ item.name }}</span>
		</div>
	</div>
</div>