<on-resize></on-resize>

<!-- 
<audio controls="" loop="">
  <source src="doc/alone.ogg" type="audio/ogg" ng-model="aze">
</audio>
 -->
 
<div class="header hidden-print">
	<div>{{ clicks }}</div>
	<div><a href="https://www.github.com/yve5/pairs" target="_blank">?</a></div>
	<div ng-click="pause()">
		<span class="micons" ng-hide="isMuted">volume_up</span>
		<span class="micons" ng-show="isMuted">volume_off</span>
	</div>
</div>

<div class="container hidden-print">
	<div class="play-area">
		<div class="cell" ng-repeat="item in tiles" ng-click="chooseTile($index)" ng-class="{ 'is-selected' : item.isSelected, 'is-removed' : item.isRemoved }">
			<span class="micons">{{ item.name }}</span>
		</div>
	</div>
</div>