<!-- 
<audio autoplay="" controls="" loop="">
  <source src="doc/alone.ogg" type="audio/ogg">
</audio>
 -->

<div class="header">
	<div>{{ clicks }}</div>
	<div><a href="https://www.github.com/yve5/pairs">?</a></div>
	<div ng-click="mute()">
		<span class="micons">volume_off</span>
		<!-- volume_up -->
		<!-- volume_mute -->
	</div>
</div>

<div class="container">
	<div class="play-area">
		<div class="cell" ng-repeat="item in tiles" ng-click="chooseTile($index)" ng-class="{ 'is-selected' : item.isSelected, 'is-removed' : item.isRemoved }">
			<span class="micons">{{ item.name }}</span>
		</div>
	</div>
</div>

<p class="visible-print">
	Created by Yve5 [<a href="https://www.github.com/yve5">github.com/yve5</a>]
</p>